
li{
    list-style-type: none;
    font-family: sans-serif;
}

li>h2{
    font-size: 28px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

li>p{
    font-family: sans-serif;
    margin-bottom: 10px;
}

h1{
    font-family: sans-serif;
}

button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
button:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
button:active {
    position:relative;
    top:1px;
}

input{
    border-radius: 50px;
    padding-left: 10px;
    width: 350px;
    border:1px solid #dcdcdc;
    box-shadow: none;
}